PORT=3000
POSTGRES_USER=crosslistr
POSTGRES_PASSWORD=replace_me
POSTGRES_DB=crosslistr_db

VITE_API_URL=http://localhost:3000/api

# Build DATABASE_URL using data from the above
DATABASE_URL=postgresql://crosslistr:replace_me@postgres:5432/crosslistr_db

VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=

JWT_SECRET=a-string-secret-at-least-256-bits-long