PORT=3000
POSTGRES_USER=crosslistr
POSTGRES_PASSWORD=replace_me
POSTGRES_DB=crosslistr_db

# Build DATABASE_URL using data from the above
DATABASE_URL=postgresql://crosslistr:replace_me@postgres:5432/crosslistr_db

# 
JWT_SECRET=a-string-secret-at-least-256-bits-long